.box {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: rgb(68, 207, 207); */
  background: linear-gradient(
    rgb(24, 23, 23),
    rgb(59, 56, 56),
    rgb(167, 156, 156)
  );
  color: white;
  display: flex;
}

.box .overlap__item {
  border: 1px solid red;
}

.box .overlap__item img {
  margin: 100px auto;
  width: 30%;
  display: block;
}

.box .overlap__item .box-content {
  /* width: 100%; */
  position: absolute;
  top: 0;
  left: 0;
}
/* .box .box-content::before,
.box .box-content::after {
  content: "";
  width: 100%;
  height: 47%;
  background: red;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s;
  opacity: 0;
} */
/* .box .box-content::before {
  top: -20px;
} */
/* .box .box-content::after {
  bottom: -20px;
} */

/* .box:hover .box-content::before {
  top: 3%;
  opacity: 0.5;
} */
/* .box:hover .box-content::after {
  bottom: 3%;
  opacity: 0.5;
} */
/* h1 {
  color: red;
  align-items: center;
  text-align: center;
} */

* {
  box-sizing: border-box;
}
