<div class="container-fluid">
  <div class="aboutus">
    <div class="aboutusheading">Hotel Name</div>
    <div class="aboutusicons">
      <div class="aboutusicon aboutusicon1">
        <img src="../../../assets/images/whoweare.png" alt="" />
      </div>
      <div class="aboutusicon aboutusicon2">
        <img src="../../../assets/images/whyus.png" alt="" />
      </div>
      <div class="aboutusicon aboutusicon3">
        <img src="../../../assets/images/whereweare.png" alt="" />
      </div>
    </div>
    <div class="aboutuscontents">
      <div class="aboutuscontent aboutusimagemain">
        <img src="../../../assets/images/aboutusimagemain.jpg" alt="" />
      </div>
      <div class="aboutuscontent aboutusimagesmall">
        <img src="../../../assets/images/aboutusimagesmall.jpg" alt="" />
      </div>
      <div class="aboutuscontent aboutustextcontent">
        <h1>The Team</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ea
          consequuntur magni velit consectetur reiciendis?
        </p>
        <button mat-stroked-button class="aboutustextcontentbutton">
          View More
        </button>
      </div>
    </div>
  </div>
</div>
