<div class="container-fluid contactus">
  <div class="contactusmenu">
    <div class="content contactusheading"><h1>Contact Us</h1></div>
    <div class="content contactusaddress">
      <h2>Landmark</h2>
      <div class="address">
        <div class="residential__address">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, culpa!
        </div>
        <div class="phone__no">
          <span class="material-icons"> add_ic_call </span> +987 876 5434
        </div>
        <div class="location__icon">
          <img src="../../../assets/images/contactuslocation.png" alt="" />
        </div>
      </div>
    </div>
    <div class="content contactuslocation">
      <div class="location">
        <textarea name="" id="" cols="20" rows="2"></textarea>
        <h2>* FEEDBACK</h2>
        <button mat-stroked-button class="contactustextcontentbutton">
          SUBMIT
        </button>
      </div>
      <div class="location">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30673.153170078727!2d73.472523!3d16.058008!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7d66904375e5c4a0!2sChandrakant%20Homestay!5e0!3m2!1sen!2sin!4v1638707944307!5m2!1sen!2sin"
          style="border: 1px solid red"
          loading="lazy"
        ></iframe>
      </div>
    </div>

    <!-- <div class="content contactussocialapps">4</div> -->
  </div>
</div>
