<div class="container-fluid">
  <div class="imagezoomer">
    <div class="box">
      <img class="box1_img imageZoom" [src]="images[0]" alt="" />
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box">
      <img class="box2_img imageZoom" [src]="images[1]" alt="" />
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box">
      <img class="box3_img imageZoom" [src]="images[2]" alt="" />
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box">
      <img class="box4_img imageZoom" [src]="images[3]" alt="" />
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="box">
      <img class="box5_img imageZoom" [src]="images[4]" alt="" />
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
