.box {
  /* background-color: rgb(214, 129, 18); */
  background: linear-gradient(
    rgb(167, 156, 156),
    rgb(59, 56, 56),
    rgb(24, 23, 23)
  );
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.box .box-img {
  height: 400px;
  width: 23%;
  overflow: hidden;
  margin: auto;
}

.box .box-img .restaurent_image1 {
  height: 100%;
  width: 100%;
  display: block;
  transition: 2s;
}

.box .box-img .restaurent_image1:hover {
  transform: scale(1.3);
}
