.box {
  background-color: #9fbf7e;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.box .box-img {
  height: 400px;
  width: 23%;
  overflow: hidden;
  margin: auto;
}

.box .box-img .restaurent_image1 {
  height: 100%;
  width: 100%;
  display: block;
  transition: 2s;
}

.box .box-img .restaurent_image1:hover {
  transform: scale(1.3);
}
