<div class="container-fluid imagezoomer">
  <div class="box">
    <img class="box1_img" src="../../../assets/images/e.jpg" alt="" />
  </div>
  <div class="box">
    <img class="box1_img" src="../../../assets/images/e.jpg" alt="" />
  </div>
  <div class="box">
    <img class="box1_img" src="../../../assets/images/e.jpg" alt="" />
  </div>
  <div class="box">
    <img class="box1_img" src="../../../assets/images/e.jpg" alt="" />
  </div>
  <div class="box">
    <img class="box1_img" src="../../../assets/images/e.jpg" alt="" />
  </div>
</div>
