<div class="box">
  <div class="zoomer header">
    <h1>Heading</h1>
    <p>Places to visit</p>
  </div>
  <div class="box__row1">
    <div class="box-img">
      <img
        class="restaurent_image1"
        src="https://d4t7t8y8xqo0t.cloudfront.net/resized/750X436/eazytrendz%2F2869%2Ftrend20200630115235.jpg"
        alt=""
      />
    </div>
    <div class="box-img">
      <img
        class="restaurent_image1"
        src="https://d4t7t8y8xqo0t.cloudfront.net/resized/750X436/eazytrendz%2F2869%2Ftrend20200630115235.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="boX__row2">
    <div class="box-img">
      <img
        class="restaurent_image1"
        src="https://d4t7t8y8xqo0t.cloudfront.net/resized/750X436/eazytrendz%2F2869%2Ftrend20200630115235.jpg"
        alt=""
      />
    </div>
    <div class="box-img">
      <img
        class="restaurent_image1"
        src="https://d4t7t8y8xqo0t.cloudfront.net/resized/750X436/eazytrendz%2F2869%2Ftrend20200630115235.jpg"
        alt=""
      />
    </div>
    <div class="box-img">
      <img
        class="restaurent_image1"
        src="https://d4t7t8y8xqo0t.cloudfront.net/resized/750X436/eazytrendz%2F2869%2Ftrend20200630115235.jpg"
        alt=""
      />
    </div>
  </div>
</div>
