.home__navbar {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  position: relative;
  margin-top: 50px;
  position: absolute;
  z-index: 10;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.2;
}

.home_navbar_logo {
  object-fit: contain;
  width: 80px;
  object-fit: contain;
  margin: 0 10px;
}

.home__navbar__home {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.home__navbar__input {
  width: 80%;
  height: 20px;
  padding: 8px;
  border: none;
  margin-right: 5px;
  border-radius: 4px;
}
.home__navbar__searchIcon {
  margin-right: 10px;
  background-color: transparent;
  border: 0;
}

.home__navbar__button {
  background-color: transparent;
  border: 0;
}
.home__navbar__otherOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 5%;
}
.home__navbar__ContactUs {
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}
.home__navbar__AboutUs {
  cursor: pointer;
  margin-right: 20px;
}
.contactUs_icon {
  margin-left: 2px;
  margin-right: 5px;
}

/* ========================================================================== */
/* .container-fluid {
  margin: 0;
  padding: 0;
}

.container-fluid .navbar__main {
  display: flex;
  height: 150px;
  flex-wrap: wrap;
}

.container-fluid .navbar__main .col__1 {
  flex: 1;
  background-color: red;
  display: flex;
  flex-direction: column;
}
.container-fluid .navbar__main .col__1 .col__1__row1 {
  flex: 1;
  background-color: rgb(0, 162, 255);
}
.container-fluid .navbar__main .col__1 .col__1__row2 {
  flex: 1;
  background-color: rgb(49, 80, 99);
}
.container-fluid .navbar__main .col__1 .col__1__row3 {
  flex: 1;
  background-color: rgb(123, 184, 219);
}
.container-fluid .navbar__main .col__2 {
  flex: 1;
  background-color: yellow;
  width: auto;
  height: 100%;
  flex: 0.3;
}

.container-fluid .navbar__main .col__2 > img {
  height: 100%;
  width: 100%;
  padding: 1px;
  border-radius: 50%;
  border: 8px solid transparent;
  background: linear-gradient(90deg, #0a0a0a);
}

.container-fluid .navbar__main .col__3 {
  flex: 1;
  background-color: chartreuse;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container-fluid .navbar__main .col__3 .col__3__row1 {
  background-color: peru;
  flex: 1;
}
.container-fluid .navbar__main .col__3 .col__3__row2 {
  background-color: rgb(83, 52, 21);
  flex: 1;
}
.container-fluid .navbar__main .col__3 .col__3__row3 {
  display: flex;
  flex: 1;
}
.container-fluid .navbar__main .col__3 .col__3__row3 .col__3__row3__col1 {
  background-color: orange;
  flex: 1;
}
.container-fluid .navbar__main .col__3 .col__3__row3 .col__3__row3__col2 {
  background-color: rgb(119, 105, 79);
  flex: 1;
}
.container-fluid .navbar__main .col__3 .col__3__row3 .col__3__row3__col3 {
  background-color: rgb(238, 209, 156);
  flex: 1;
} */
