<nav>
  <div class="home__navbar container-fluid">
    <img class="home_navbar_logo" src="../../../assets/images/homeLogo.png" />

    <div class="home__navbar__home">Home</div>

    <!-- <input class="home__navbar__input" /> -->
    <button class="home__navbar__searchIcon">
      <span class="material-icons"> search </span>
    </button>
    <div class="home__navbar__otherOptions">
      <div class="home__navbar__ContactUs">
        Contact<span class="material-icons contactUs_icon"> call </span>
      </div>
      <div class="home__navbar__AboutUs">About</div>
    </div>
    <hr class="home_navbar_hr" />
  </div>
  <!-- <hr /> -->
</nav>
