<header>
  <carousel [isAnimated]="true" [interval]="3000" [showIndicators]="false">
    <slide>
      <div class="banner" [style]="dummyImages[0]"></div>
      <div class="carousel-caption">
        <h2 class="animated bounceInRight" style="animation-delay: 1s">
          We Are <span>Creative</span>
        </h2>
        <h3 class="animated bounceInLeft" style="animation-delay: 2s">
          Web Design and Development Agency
        </h3>
        <p class="animated bounceInRight" style="animation-delay: 3s">
          <a href="#">Contact us</a>
        </p>
      </div>
    </slide>
    <slide>
      <div class="banner" [style]="dummyImages[1]"></div>
      <div class="carousel-caption">
        <h2 class="animated slideInDown" style="animation-delay: 1s">
          We Are <span>Franco</span>
        </h2>
        <h3 class="animated fadeInUp" style="animation-delay: 2s">
          Web Design and Development Agency
        </h3>
        <p class="animated zoomIn" style="animation-delay: 3s">
          <a href="#">Contact us</a>
        </p>
      </div>
    </slide>
    <slide>
      <img
        [src]="images[2]"
        alt="third slide"
        style="display: block; width: 100%"
      />
      <div class="banner" [style]="dummyImages[2]"></div>
      <div class="carousel-caption">
        <h2 class="animated zoomIn" style="animation-delay: 1s">
          We Are <span>Diligent</span>
        </h2>
        <h3 class="animated fadeInLeft" style="animation-delay: 2s">
          Web Design and Development Agency
        </h3>
        <p class="animated zoomIn" style="animation-delay: 3s">
          <a href="#">Contact us</a>
        </p>
      </div>
    </slide>
    <a
      class="left carousel-control"
      href="#carousel-example-generic"
      role="button"
      data-slide="prev"
    >
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="right carousel-control"
      href="#carousel-example-generic"
      role="button"
      data-slide="next"
    >
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </carousel>
</header>
